div.ui.right.floated.segment {
  width: 25vw;
  background-color: #f6f6f6;
  min-height: fit-content;
}

/* route information */

div.ui.right.floated.segment > div.ui.container.routeInfo {
  width: 95%;
}

div.ui.right.floated.segment > div.ui.container.routeInfo > div {
  margin-top: 5px;
}

div.ui.right.floated.segment > div.ui.large.header,
div.ui.right.floated.segment
  > div.ui.container.routeInfo
  > div.ui.medium.header {
  font-weight: 500;
}

div.ui.right.floated.segment > div.ui.large.header,
div.ui.right.floated.segment
  > div.ui.container.routeInfo
  > div.ui.medium.header,
div.ui.right.floated.segment > div.ui.right.aligned.container > b > span {
  color: #606060;
}

div.ui.right.floated.segment > div.ui.container.routeInfo > div.route,
div.ui.right.floated.segment > div.ui.container.routeInfo > div > span,
div.ui.right.floated.segment
  > div.ui.container.routeInfo
  > div.ui.container.durationIcon
  > i,
div.ui.right.floated.segment
  > div.ui.container.routeInfo
  > div.ui.container.durationIcon
  > b {
  color: #c7c7c7;
}

div.ui.right.floated.segment
  > div.ui.container.routeInfo
  > div.ui.container.durationLabel {
  background-color: white;
}

div.ui.right.floated.segment > div.ui.container.routeInfo > div > i,
div.ui.right.floated.segment
  > div.ui.container.routeInfo
  > div
  > span.trainNumber {
  margin-right: 1vw;
  font-size: large;
  color: #788a99;
}

/* price information */

div.ui.right.floated.segment > div.ui.container.priceInfo > div.ui.justified.container > b.insurancePrice {
  float: right;
}

div.ui.right.floated.segment > div.ui.container.priceInfo > div.ui.right.aligned.container > b,
div.ui.right.floated.segment > div.ui.container.priceInfo > div.ui.justified.container > b.insurancePrice {
  color: #e33f32;
}

div.ui.right.floated.segment > div.ui.container.priceInfo > div.ui.card {
  width: 90%;
  height: fit-content;
  margin: 0 5%;
  border-radius: 0;
  box-shadow: none;
}

div.ui.right.floated.segment > div.ui.container.priceInfo > div.ui.card > div.ui.red.basic.label {
  margin: 0 0 0 -95% !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}


